body
{
	
    
  background-image: url('graybg.jpg');
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	color: #000;
	
		
}

[ros-logo] {
	display: block;
	width: 400px;
	padding: 20px;
	position: absolute;
	top: -80px;
	left: 450px;
	z-index: 10;
}

[k-logo]
{
	float: right;
	display: block;
	width: 300px;
	padding: 20px;
}

[ctf-logo]
{
	width: 200px;
}

header {
	min-height: 100px;
}

.wooden-navigation {
	background-color: black;
	background-size: auto 50px;
	background-repeat: repeat-x;
	height: 50px;
	font-family: 'BlenderPro';
	
}
[font-samarkan]
{
	font-family: 'Samarkan';
}

.wooden-navigation > li {

}

.wooden-navigation > li > a {
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-color:black;
}

.wooden-navigation > li > a:hover {
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px;
	
}

.imagebox {
	display: inline-block;
	background-image: url('../images/imagebox.png');
	background-size: 215px 170px;
	width: 215px;
	height: 170px;
	padding: 10px;
	z-index: 2;
	margin: 0 auto;
}

.imagebox  > img {
	padding: 15px;
	z-index: 1;
}
#mascot
{
	background-image :url('../images/mascot.png');
}
.empty-track {
	height: 100px;
	font-size: 20px;
}
.btn {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}
form[name="answer-form"] > input[type="text"] {
	width: 100%;
	background: transparent;
	border: none;
	border-bottom: 2px solid #2B1402;
	padding: 10px;
	font-size: 20px;
	font-family: 'UglyQua';
}
#mascot
{
	background-image :url('../images/mascot.png');
	background-repeat: no-repeat;
    position: fixed;
    top: 50%;
    right: 15%;
width:15%;
height:45%;

}
#fixed-div {
		background-color: #000000
background-repeat: no-repeat;
border-radius:10px;
 position: fixed;
 top: 29%;
    right: -5%;
padding:60px;
width:25%;
height:25%;
}

form[name="answer-form"] > input[type="text"]:focus {
	outline: none;
}

form[name="answer-form"] > button[type="submit"] {
	background-color: transparent;
	color: #444;
	font-size: 20px;
	font-family: 'UglyQua';
	float: right;
	margin: 10px;
	padding: 5px 20px;
	border: 1px solid #2B1402;
	color: #2B1402;
	-webkit-transition: all 550ms ease-out;
	-moz-transition: all 550ms ease-out;
	-ms-transition: all 550ms ease-out;
	-o-transition: all 550ms ease-out;
	transition: all 550ms ease-out;
}

form[name="answer-form"] > button[type="submit"]:hover {
	background-color: #2B1402;
	color: #FFF;
}

form[name="answer-form"] input::-webkit-input-placeholder {
    color:    #000;
}

form[name="answer-form"] input:-moz-placeholder {
    color:    #000;
}

form[name="answer-form"] input::-moz-placeholder {
    color:    #000;
}

form[name="answer-form"] input:-ms-input-placeholder {
    color:    #000;
}

.question-display {
	font-family: 'UglyQua';
	color: #111;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
}

.leader-container
{
background-color:#9932cc;
color:#fff;
width:100%;
height:100%;
}


.modal-content {
	
	background-color:white;
	color: #111;
	padding: 10px;

}

.modal-header {
	border: none;
}


.well
{
	background:transparent;
	background-color: #98e698;
		
}
.round
{
	border:2px;
	border-radius:50px;
}
.input-lg
{
	color: black;
	font-family: 'Arial';
}

[name="loginform"] > input[type="email"], [name="loginform"] > input[type="password"] {
	width: 100%;
	
	background-color: white;
	border: none;
	border-bottom: 2px solid #2B1402;
	padding: 10px;
	font-size: 20px;
	
	 -moz-appearance:    textfield;
        -webkit-appearance: textfield;
        appearance: textfield;
}

[name="loginform"] input::-webkit-input-placeholder {
    color:    #000;
}

[name="loginform"] input:-moz-placeholder {
    color:    #000;
}

[name="loginform"] input::-moz-placeholder {
    color:    #000;
}

[name="loginform"] input:-ms-input-placeholder {
    color:    #000;
}

[name="loginform"] > input[type="email"]:focus, [name="loginform"] > input[type="password"]:focus {
	outline: none;
}

[name="loginform"] > button[type="submit"] {
	background-color: white;
	color: #444;
	font-size: 20px;
	font-family: 'UglyQua';
	float: right;
	margin: 10px;
	padding: 5px 20px;
	border: 1px solid #2B1402;
	color: #2B1402;
	-webkit-transition: all 550ms ease-out;
	-moz-transition: all 550ms ease-out;
	-ms-transition: all 550ms ease-out;
	-o-transition: all 550ms ease-out;
	transition: all 550ms ease-out;
}

[name="loginform"] > button[type="submit"]:hover {
	background-color: #2B1402;
	color: #FFF;
}

.fa-big {
	font-size: 100px;
	padding: 20px 40px;
}
.center-page
{
	margin-top: 2%;
	font-size: 25px;
	text-align: center;
}
.white-head
{

	text-align: center;
	font-size: 30px;
}
.white-rules
{
	
	font-size: 20px;
}
.personal
{
color:white ;
font-size:25px;
background-color:#3E6DFF ;
font-family: 'BlenderPro';
text-align: center;
}
.ral
{
	text-align: center;
}
.others
{
	color: white;
	background-color: #3E6DFF;
	font-family: 'BlenderPro';
	font-size: 20px;
	margin-left: 16%;
	margin-top: 2%;
	border-width: 2px;
	border:2px;
	
}

.nav-stacked > li {
  float: left;
  margin-top:20%;
  position:fixed;
  top:10%;
  	background-color:rgba(255,255,255,1.0);
	width:12%;
	height:25%;
	border-radius:10px;
	padding:10px;

}
.nav-stacked > li > a {
  margin-right: 0;
}
.nav-tabs.nav-stacked {
  border-bottom: 0;
}
/*Fix to remove space between li's*/
.nav-tabs.nav-stacked>li+li {
    margin-top: 0;
}
.nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus {
  border-color: #ddd;
  z-index: 2;
}
.question
{
	font-family: 'BlenderPro';
	color: #3E6DFF;
	font-size:20px;
}



form[name="answer-form"] > button[type="submit"]:hover {
	background-color: #2B1402;
	color: #FFF;
}

form[name="answer-form"] input::-webkit-input-placeholder {
    color:    #000;
}

form[name="answer-form"] input:-moz-placeholder {
    color:    #000;
}

form[name="answer-form"] input::-moz-placeholder {
    color:    #000;
}

form[name="answer-form"] input:-ms-input-placeholder {
    color:    #000;
}

.question-display {
	font-family: 'UglyQua';
	color: #111;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
}

[egyptmale] {
	margin-left: 50px;
}

.arrow_box {
	position: absolute;
	margin-right: 150px;
	margin-top: 15px;
	background: #482D0F;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 10px;
	border-radius: 10px;
	font-size: 15px;
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.leader-container
{
background-color:#9932cc;
color:#fff;
width:100%;
height:100%;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #482D0F;
	border-width: 10px;
	margin-top: -10px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-width: 16px;
	margin-top: -16px;
}

.modal-content {
	
	background-color:white;
	color: #111;
	padding: 10px;

}

.modal-header {
	border: none;
}

.modal-title {
	font-family: 'UglyQua';
	font-size: 20px;
}
.well
{
	background:transparent;
	background-color: #98e698;
		
}
.round
{
	border:2px;
	border-radius:50px;
}


[name="loginform"] > input[type="email"], [name="loginform"] > input[type="password"] {
	width: 100%;
	
	background-color: white;
	border: none;
	border-bottom: 2px solid #2B1402;
	padding: 10px;
	font-size: 20px;
	
	 -moz-appearance:    textfield;
        -webkit-appearance: textfield;
        appearance: textfield;
}

[name="loginform"] input::-webkit-input-placeholder {
    color:    #000;
}

[name="loginform"] input:-moz-placeholder {
    color:    #000;
}

[name="loginform"] input::-moz-placeholder {
    color:    #000;
}

[name="loginform"] input:-ms-input-placeholder {
    color:    #000;
}

[name="loginform"] > input[type="email"]:focus, [name="loginform"] > input[type="password"]:focus {
	outline: none;
}

[name="loginform"] > button[type="submit"] {
	background-color: white;
	color: #444;
	font-size: 20px;
	font-family: 'BlenderPro';
	float: right;
	margin: 10px;
	padding: 5px 20px;
	border: 1px solid #2B1402;
	color: #2B1402;
	-webkit-transition: all 550ms ease-out;
	-moz-transition: all 550ms ease-out;
	-ms-transition: all 550ms ease-out;
	-o-transition: all 550ms ease-out;
	transition: all 550ms ease-out;
}

[name="loginform"] > button[type="submit"]:hover {
	background-color: white;
	color: black;
}

.fa-big {
	font-size: 100px;
	padding: 20px 40px;
}
.center-page
{
	margin-top: 2%;
	font-size: 35px;
	text-align: center;
}
.white-head
{

	text-align: center;
	font-size: 30px;
	text-decoration: underline;
}




.question
{
	font-family: 'BlenderPro';
	color: #561227;
	font-size:20px;
}
