.image-block
{
	display:inline;
}
.center-page
{
	margin-left: 30%;
	font-size: 25px;
	font-weight: bold;
	
}
.head
{
	font-weight: bold;
	font-variant: small-caps;
	font-size: 35px;
	
}
.white-rules
{
	color: white;
	background-color: black;
	margin-right: 20%;
	margin-top: 1%;
	margin-left: 20%;
	padding-top: 1%;
	padding-left: 2%;
	padding-bottom: 3%;
}
.white-head
{
	padding-top: 1%;
	padding-left: 1%;
	color: white;
	font-size: 35px;
	background-color: black;
	margin-right: 20%;
	margin-top: 20%;
	margin-left: 20%;
}
.white-head
{
	padding-top: 1%;
	padding-left: 1%;
	color: white;
	font-size: 35px;
	background-color: black;
	margin-right: 20%;
	margin-top: 10%;
	margin-left: 20%;
}
.comments
{
	background-color: transparent;
	color: white;
	width:30%;
	
	margin-left: 25%;
}